<!DOCTYPE html>
<html lang="en">
        <head>
                    <meta charset="UTF-8">
                        <title>Abraham</title>
        </head>
        <body>
                <p style="font-size:50px;color:red">Welcome Abraham Augustine</p>

                 <img src="https://cdn.pixabay.com/photo/2017/02/07/11/45/eagle-2045655_1280.jpg" alt="W3Schools.com" style="width:250px;height:242px;">

                <h2>Learning Automation using Devops tools</h2>
                <h3>{{ utc_dt }}</h3>
                <h2>Devops</h2>

                <ul>
                            <h3><a href="https://www.jenkins.io/doc/book/">jenkins</a></h3>
                                <h3><a href="https://docs.ansible.com/ansible/latest/cli/ansible-doc.html">Ansible</a></h3>
                                    <h3><a href="https://docs.docker.com/get-started/">Docker</a></h3>
                                        <h3><a href="https://kubernetes.io/docs/home/">Kubernetes</a></h3>
                                            <h3><a href="https://docs.aws.amazon.com/">AWS</a></h3>
                                                <h3><a href="https://www.python.org/doc/">Python</a></h3>
                                                     <h3><a href="https://devdocs.io/bash/">Bash</a></h3>
                                                         <h3><a href="https://grafana.com/docs/grafana/latest/">Grafana</a></h3>
                </ul>

                <h2>Linux</h2>

                <ol>
                            <li><h3><a href="https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7">RHEL</a></h3></li>
                                <li><h3><a href="https://help.ubuntu.com/">Ubuntu</a></h3></li>
                </ol>
        </body>
</html>
